
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>添加商品</title>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<link rel="shortcut icon" href="{% static 'sop/xxx.ico' %}" type="image/x-icon" />



  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" href="{% static 'sop/css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static 'sop/css/animate.css'%}">
	<link rel="stylesheet" href="{% static 'sop/css/login.css'%}">

	<!-- Modernizr JS -->
	<script src="{% static 'sop/js/modernizr-2.6.2.min.js'%}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'sop/js/respond.min.js'%}"></script>
	<![endif]-->

	</head>
	<body class="style-2">

		<div class="container">

			<div class="row">
				<div class="col-md-4">
					

					<!-- Start Sign In Form -->
					<form action="{% url 'sop:add_goods_add' %}" class="fh5co-form animate-box" data-animate-effect="fadeInLeft" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<h2>添加商品</h2>

						<div class="form-group">
							<div class="alert alert-success" role="alert">
                                {{ succeed }}
                                {{form.errors}}
							</div>
						</div>

						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input name="goods_name" type="text" class="form-control" id="name" placeholder="商品名称" autocomplete="off">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input name="goods_price" type="text" class="form-control" id="email" placeholder="商品单价" autocomplete="off">
						</div>
						<div class="form-group">
							<label for="password" class="sr-only">Password</label>
							<input name="goods_stock" type="number" class="form-control" id="password" placeholder="商品库存" autocomplete="off">
						</div>
                        <div class="form-group">

                            <select name="goods_class" id="">
                                <option value="XZQ">薛之谦</option>
                                <option value="LJJ">林俊杰</option>
                                <option value="YWW">于文文</option>
                                <option value="ZJL">周杰伦</option>
                                <option value="SYZ">传说中的刷牙者</option>
                                <option value="LY">冷鸢</option>
                                <option value="DZQ">邓紫棋</option>
                            </select>
                            {{ form.error }}

						</div>
                         <div class="form-group">
                             <input type="file" name="goods_img" class="btn btn-primary">
                         </div>
						<div class="form-group">
							<input type="submit" value="添加" class="btn btn-primary">
							<input type="button" onclick='location.href=({% url "sop:home" %})' value="返回" class="btn btn-primary"/>
						</div>
					</form>
					<!-- END Sign In Form -->


				</div>
			</div>

		</div>
	
	<!-- jQuery -->
	<script src="{% static 'sop/js/jquery.min.js'%}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'sop/js/bootstrap.min.js'%}"></script>
	<!-- Placeholder -->
	<script src="{% static 'sop/js/jquery.placeholder.min.js'%}"></script>
	<!-- Waypoints -->
	<script src="{% static 'sop/js/jquery.waypoints.min.js'%}"></script>
	<!-- Main JS -->
	<script src="{% static 'sop/js/main.js'%}"></script>

	</body>
</html>

