<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="UTF-8">
	<title>黑淘</title>
	<!-- Stylesheets -->
	{% load static %}
	<link rel="stylesheet" href="{% static 'sop/css/myresponsee.css' %}">
	<link rel="stylesheet" href="{% static 'sop/css/style.css' %}">
	<!--Favicon-->


    <!-- Responsive -->
	<link rel="shortcut icon" href="{% static 'sop/xxx.ico' %}" type="image/x-icon" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'sop/css/responsive.css' %}" rel="stylesheet">
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body class="size-1140">
<!-- HIDDEN PRODUCTS MENU START -->

<!-- HIDDEN PRODUCTS MENU END -->

<!-- |||||||||||||||||| page start ||||||||||||||||||| -->
<!-- ||||| --> <div id="page-main-content"> <!-- ||||| -->
<!-- ||||||||||||||||||||||||||||||||||||||||||||||||| -->

<!-- HEADER START -->
<header>
	<!-- top bar start -->
	<div id="topbar" class="background-primary">
		<div class="line">
		    <!-- social icons -->
			<div class="s-12 m-12 l-6">
				<ul>
				  <li><a href="{% url 'sop:admin' %}"><i class="fa fa-instagram"></i></a></li>
				  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
				  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
				  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
				  <li class="hide-s"><a href="#"><i class="fa fa-pinterest"></i></a></li>
				</ul>
			</div>
			<!-- contact details -->
			<div class="l-6 hide-s hide-m">
				<div class="right">
					<ul class="topbar-menu">
						{% if user_id %}
							<li><a href="{% url 'sop:add_goods' %}">上架商品</a></li>
							<li><a href="{% url 'sop:ll' %}">商品管理</a></li>
							<li><a href="{% url 'sop:homes' %}">退出登录</a></li>
							<li><a href="{% url 'sop:show_order' %}">我的订单</a></li>
							<li><a href="{% url 'sop:user_xx' %}">{{user_id.user_name}}</a></li>
						{% else %}
							<li><a href="{% url 'sop:zc' %}">注册</a></li>
							<li><a href="{% url 'sop:login' %}">登录</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- top bar end -->

	<!-- navigation and logo -->
	<nav class="background-dark">
		<div class="line">
		    <!-- logo -->
			<div class="s-12 l-3">
				<div class="fullwidth">
				    <a href="{% url 'sop:index' %}" class="logo"><img src="{% static 'sop/img/logo.png' %}"></a>
				</div>
			</div>

			<!-- navigation -->
			<div class="top-nav s-12 m-12 l-9">
				<a class="nav-text"></a>
				<ul class="right chevron">
					<li><a class="index.html" href="{% url 'sop:index' %}">首页</a></li>

					<li><a href="{% url 'sop:shop'%}">商品列表</a></li>
					<li><a href="{% url 'sop:show_cart' %}">购物车</a></li>

				</ul>
			</div>

		</div>
	</nav>
</header>
<!-- HEADER END -->

<!-- SLIDESHOW START -->
<div class="carousel-fade-transition owl-carousel carousel-main">
	<!-- slide 1 -->
	{% for i in goods %}
	<div class="item">
	    <!-- slideshow photo -->
		<div class="image-box">
			<div class="image">
				<img src="{% static i.goods_img %}" alt="">
			</div>
		</div>

		<!-- slideshow content -->
		<div class="carousel-content">
			<div class="content-center-vertical line">
				<div class="s-12 m-8 l-7">
					<h1 class="margin-bottom-10 animated-carousel-element">🎵{{i.goods_name}}🎵</h1>
					<p class="margin-bottom-30 animated-carousel-element slow"></p>
					<div class="animated-carousel-element">
						<a href="{% url 'sop:indent_s' i.goods_id %}" class="slideshow-btn">现在购买</a><a href="{% url 'sop:indent' i.goods_id%}" class="slideshow-btn2">查看详情</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

	<!-- slide 2 -->
</div>
<!-- SLIDESHOW END -->

<!-- FOOTER END -->

<!-- |||||||||||| page end ||||||||||||| -->
<!-- ||||||||| --> </div> <!-- ||||||||| -->
<!-- |||||||||||| page end ||||||||||||| -->

<!-- jQuery Files -->
<script type="text/javascript" src="{% static 'sop/js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sop/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sop/owl-carousel/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'sop/js/custom.js' %}"></script>

</body>
</html>
