<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品列表</title>
	{% load static %}
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'sop/css/myresponsee.css' %}">
	<link rel="stylesheet" href="{% static 'sop/css/style.css'%}">
	<!--Favicon-->
	<link rel="shortcut icon" href="{% static 'sop/xxx.ico' %}" type="image/x-icon" />



    <!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'sop/css/responsive.css'%}" rel="stylesheet">
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="{% static 'sop/js/respond.js'%}"></script><![endif]-->
</head>

<body class="size-1140">

<!-- HIDDEN PRODUCTS MENU START -->

<!-- HIDDEN PRODUCTS MENU END -->

<!-- |||||||||||||||||| page start ||||||||||||||||||| -->
<!-- ||||| --> <div id="page-main-content"> <!-- ||||| -->
<!-- ||||||||||||||||||||||||||||||||||||||||||||||||| -->

<!-- HEADER START -->
<header>
	<!-- top bar start -->
	<div id="topbar" class="background-primary">
		<div class="line">
		    <!-- social icons -->
			<div class="s-12 m-12 l-6">
				<ul>
				  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
				  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
				  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
				  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
				  <li class="hide-s"><a href="#"><i class="fa fa-pinterest"></i></a></li>
				</ul>
			</div>
			<!-- contact details -->
			<div class="l-6 hide-s hide-m">
				<div class="right">
					<ul class="topbar-menu">
						{% if user_id %}
							<li><a href="{% url 'sop:add_goods' %}">上架商品</a></li>
							<li><a href="{% url 'sop:ll' %}">商品管理</a></li>
							<li><a href="{% url 'sop:homes' %}">退出登录</a></li>
							<li><a href="{% url 'sop:user_xx' %}">{{user_id.user_name}}</a></li>
						{% else %}
							<li><a href="{% url 'sop:zc' %}">注册</a></li>
							<li><a href="{% url 'sop:login' %}">登录</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- top bar end -->

	<!-- navigation and logo -->
	<nav class="background-dark">
		<div class="line">
		    <!-- logo -->
			<div class="s-12 l-3">
				<div class="fullwidth">
				    <a href="{% url 'sop:index' %}" class="logo"><img src="{% static 'sop/img/logo.png'%}" alt=""></a>
				</div>
			</div>

			<!-- navigation -->
			<div class="top-nav s-12 m-12 l-9">
				<a class="nav-text"></a>
				<ul class="right chevron">
					<li><a class="index.html" href="{% url 'sop:index' %}">首页</a></li>
					<li><a href="{% url 'sop:shop'%}">商品列表</a></li>
					<li><a href="{% url 'sop:show_cart' %}">购物车</a></li>
				</ul>
			</div>

		</div>
	</nav>
</header>
<!-- HEADER END -->

<!-- PAGE CONTENT START -->
<div class="section">
	<!-- heading and description -->
	<div class="line">
	  <div class="margin">
		<div class="fullwidth">
		  <h1 class="text-center">街上的人偶尔会模仿你小动作</h1>
		  <p class="text-center">《那是你离开了北京的生活》</p>
			<p> <a href="{% url 'sop:page'  pages %}" class="text-center" >上一页</a></p>
	    	<p> <a href="{% url 'sop:next'  pages %}" class="text-center">下一页</a></p>
			<p class="text-center">{{succeed}}</p>
		  <hr class="break-small break-center">
		</div>
	  </div>
	</div>

    <!-- products -->
	<div class="line">
		<div class="margin">
		    <!-- product 1 -->
			{% for i in goods %}
			<div class="s-12 m-4 l-3 margin-bottom-30">
				<div class="margin">
					<div class="fullwidth">
						<figure class="imghvr-reveal-down">
							<img src="{% static i.goods_id %}.png" style="width: 282px; height: 270px;">
							<figcaption>
								<div class="product-hover-content">
									<div class="btn-box">
										<a href="{% url 'sop:cart' i.goods_id pages %}" class="btn">添加到购物车</a>
									</div>
								</div>
							</figcaption>
						</figure>
					</div>
					<div class="fullwidth">
						<h5>{{i.goods_name}}</h5>
						<p class="text-center"><span class="strike">$998</span> &nbsp;&nbsp; <span class="text-primary">${{i.goods_price}}</span></p>
					</div>
				</div>
			</div>

			{% endfor %}

		</div>
	</div>
</div>
<!-- PAGE CONTENT END -->


<!-- |||||||||||| page end ||||||||||||| -->
<!-- ||||||||| --> </div> <!-- ||||||||| -->
<!-- |||||||||||| page end ||||||||||||| -->

<!-- jQuery Files -->
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
   
   
   
   
</body>
</html>
