<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>浏览商品</title>
	
</head>
<body>
	{% if succeed%}
        <p>{{succeed}}</p>
    {% endif %}
<form action="{% url 'sop:gets_goods' user.id%}" method="post">
{% csrf_token %}
    <ul>
        <li>商品编号：<input type="text" name="goods_id"></li>
        <li>商品库存：<input type="text" name="stock"></li>
    </ul>
        <input type="submit" value="购买">
    <p><a href="{% url 'sop:log' user.id %}">返回</a></p>
</form>
	    
	







</body>
</html>