<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎登录</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'sop/style_4.css' %}" />
	 <link rel="shortcut icon" href="{% static 'sop/xxx.ico' %}" type="image/x-icon" />
</head>
<body>
	<div class="d3">		
		<div class="d1">
			<form action="{% url 'sop:lo' code %}" method="post">
			{% csrf_token %}
				{{ form.as_p }}

			<p class="p1">{{code}}</p><br>
			<input type="submit" value="登录" class="i5">
			<input type="button" value="返回" onClick="location.href='{% url 'sop:home' %}'" class="i4"/>
		</form>
			{% if not_account %}
				<p>{{not_account}}</p>
			{% endif %}
			{% if not_code %}
				<p>{{not_code}}</p>
			{% endif %}
		</div>
	</div>




</body>
</html>