<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎注册</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'sop/style_3.css' %}" />
	<link rel="shortcut icon" href="{% static 'sop/xxx.ico' %}" type="image/x-icon" />
</head>
<body>

<div class="d3">
	<div class="d1">		
			<form action="{% url 'sop:register' code %}" method="post">
			{% csrf_token %}
				{{ form.as_p }}{{code}}
			<input type="submit" value="注册" class="i5"> 
			<input type="button" value="返回" onClick="location.href='{% url 'sop:home' %}'" class="i4"/>  
			</form>
		{% if nots %}
			<p>{{ nots }}</p>
		{% endif %}
		</div>
		
</div>	
</body>
	

			
</html>