<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
{% if user %}
    <p>密保问题{{user.user_question}}</p>
    <form action="{% url 'sop:passwords' user.id %}" method="post">
        {% csrf_token %}
        密保答案 <input type="text" name="answer">
        新密码 <input type="text" name="passwords">
        <input type="submit" value="确认修改">
        <h1><a href="{% url 'sop:log' user.id %}">返回</a>
            <a href="{% url 'sop:login' %}">重新登录</a></h1>
    </form>
{% else %}
    <p>没有用户信息</p>
{% endif %}
{% if new %}
    <p>密码修改成功</p>
{% endif %}
{% if posswords %}
    <p>密保答案错误</p>
{% endif %}
</body>
</html>