<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>已发布商品</title>
    {% load static %}
     <link rel="shortcut icon" href="{% static 'sop/xxx.ico' %}" type="image/x-icon" />
</head>
<body>
<h1>已发布商品</h1>
<a href="{% url 'sop:log' %}">返回</a>
<a href="{% url 'sop:up_ll' page %}">上一页</a>
<a href="{% url 'sop:down_ll' page %}">下一页</a>
<p>=================================</p>
<ul>
    {%for i in user_goods %}
    <li>商品名称: {{i.goods_name}}</li>
    <li>商品编号: {{i.goods_id}}</li>
    <li>商品单价: {{i.goods_price}}</li>
    <li>商品分类: {{i.goods_class}}</li>
    <li>库存数量: {{i.goods_stock}}</li>
    <li>发布时间: {{i.goods_time|date:'Y-m-d H:i:s' }}</li>
    <li>修改时间: {{i.goods_update|date:'Y-m-d' }}</li>
    <li>发布人id: {{i.goods_user_id}}</li>
    <li>上架信息： {{i.goods_state}}</li>
    <li><a href="{% url 'sop:state' i.goods_id %}">上架</a>--<a href="{% url 'sop:cancel' i.goods_id %}">下架</a></li>
    <p>=================================</p>
    {% endfor %}
</ul>
</body>
</html>