<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>充值</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'sop/style_7.css' %}" />
     <link rel="shortcut icon" href="{% static 'sop/xxx.ico' %}" type="image/x-icon" />
</head>
<body>
<h1>欢迎充值</h1>
<form action="{% url 'sop:toup' %}" method="post">
    {% csrf_token %}
   <table>{{form}}</table>
    <p> {{ form.errors }}</p>
    <input type="submit" value="充值"> <a href="{% url 'sop:log' %}">返回</a>
</form>
<div class="d1"></div>
</body>
</html>